rofi.lines: 10
rofi.color-normal: #dd2f343f, #ddf3f4f5, #dd2f343f, #dd268bd2, #ddf3f4f5
rofi.color-active: #dd2f343f, #ddf3f4f5, #dd2f343f, #dd268bd2, #ddf3f4f5
rofi.color-urgent: #dd2f343f, #ddf3f4f5, #dd2f343f, #dde53935, #ddf3f4f5
rofi.color-window: #dd2f343f, #dd2f343f
rofi.fake-transparency: true
rofi.bw: 0
rofi.hide-scrollbar: true
rofi.line-margin: 0
rofi.font: Inconsolata 15
rofi.padding: 4
rofi.terminal: termite
rofi.separator-style: solid
